body {
    background-color: #efbb7e;
    font-family: 'Arial Narrow Bold', sans-serif;
}

.card {
    background-color: white;
    margin: 50px 20%;
    border: 2px solid black;
    display: inline-block;
    box-shadow: 10px 10px;
}

img {
    width: 100%;
    height: auto;
    border: 1px solid black;
    box-shadow: 5px 5px 20px rgb(198, 190, 190);
}