body {
    background-image: url(https://img.freepik.com/free-vector/red-white-gingham-pattern_1048-8291.jpg);
    background-color: red;
}

div {
    background-color: #fdfcf7;
    width: 50%;
    height: auto;
    padding: 0% 5% 3% 5%;
    margin: 10% auto;
    border: 2px solid black;
    border-left: 75px solid black;
    box-shadow: 10px 10px 25px rgb(0, 0, 0);
}

h1 {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: dashed;
}